<!--footer-->
<div class="container-fluidk pb-0 mb-0 justify-content-center text-light  " style="font-family: 'Poppins', sans-serif; margin-top:50% ;">
    <footer class="sticky-bottom ">
        <div class="row my-1 justify-content-center py-5">
            <class class="col-11">
                <div class="row ">
                    <div class="col">
                        <h4 class="text-muted mb-md-0 mb-5 bold-text">site d'enchere</h4>
                        
                    </div>
                   
                    <div class="col">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">USTHB,dep-info</p>
                        <p>BAB EZZOUAR</p>
                    </div>
                
                    <div class="col ">
                        <h6 class="text-muted bold-text"><b>binome </b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> binome1@gmail.com</small>
                    </div>
                    <div class="col">
                        <h6 class="text-muted bold-text"><b>binome </b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> binome2@gmail.com</small>
                    </div>
                    <div class="col ">
                        <h6 class="text-muted bold-text"><b>binome </b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> binome1@gmail.com</small>
                    </div>
                    <div class="col">
                        <h6 class="text-muted bold-text"><b>binome </b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> binome2@gmail.com</small>
                    </div></div>
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> 
                            <span class="mx-2">
                                <i class="fab fa-facebook-f"></i>
                            </span> 
                            <span class="mx-2">
                                <i class="fab fa-linkedin"></i>
                            </span> 
                            <span class="mx-2">
                                <i class="fab fa-twitter"></i>
                            </span> 
                            <span class="mx-2">
                                <i class="fab fa-instagram" ></i>
                            </span> </p>
                            <span>&#174;</span>
                        <small class="rights"> 
                            All Rights Reserved.</small>
                    </div></div>
                </class>
            </div>
        
    </footer>
</div>
  <!--fin de la partie footer-->
