<div class="row">
        <div class="brcherche ml-auto mr-auto" >
            <div class="titre_br">
               <div class="banner-text" >
                <span class=" h4"style="font-family:'krona one',cursive">Trouver votre prochain livre préféré</span>
                <p>drame , comedie , triller et plein d’autre genre </p>
               </div>
            </div>
            
        <form action="/items" method="GET" class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="recherche par nom" name="nomItem" value="" aria-label="Search" style="width: 440px;">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
          <button onclick="myFunction()" class="btn btn-outline-dark my-2 my-sm-0 ml-2" type="button">
            <i class="fas fa-filter"></i>
          </button>
          <% if(locals.session.isAuth){ %>  
        <button type="button" class="btn btn-outline-dark my-2 my-sm-0 ml-2"><a href="http://localhost:3000/items/add" style="color :#343a40;"><i class="far fa-plus-square"></i></a></button>
        
        <% } %> 

        </form> 

        <br>
            
            <div id="myDIV" style="display: none;">
                <h5>fitrer le resultat</h5>
                <form action="/items" method="GET">
                    <div class="row register-form">
                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="mots clées" name="motcle" value="" />
                            </div>
                            
                         
                        </div>
                        
                        <div class="col-md-4">
   
                         
                           <div class="form-group">
                            <input type="number" class="form-control" min="1" placeholder="estimation max" name="estim" value="" />
                        </div>
                          
                           
                            
                        </div>
                </div>
                <input type="submit" class="btn btnconn"  value="Ajouter"/>
               
              </form> 
              
              
            </div>
        </div>
    </div> 
  <br>
  <br>
  
  <div class="containercard">
    <% items.forEach(item => { %>
    <div class="card">
      <div class="card-header">
        <img src="<%= item.image %> " alt="item" />
      </div>
      <div class="card-body">
       
        <div class="mt-auto">
        <button type="button" class="btn btn-dark btn-block">
            <a class="nav-link text-white" href="http://localhost:3000/items/live/<%= item._id %>">voir le live</a>
          </button>
         
        
      </div>
      </div>
    </div>
    <% }) %>
</div>