<div class="container-fluid" style="background-image: url(../../images/bookbackground.png);">
        
<form action="/users/login" method="POST" >
    <div class="container register mt-55 py-5">
    <div class="row">
        <div class="col-md-9 ml-auto mr-auto">
                
                    <div class="conn">
                        
                        <div class="col-md-6 mr-auto ml-auto ">
                          <h4 class="text-center pt-4 pb-3" style="color: #53354A">Connectez vous !</h4>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" name ="email" value="" />
                            </div>
                            <div class="form-group ">
                                <input type="password" class="form-control" placeholder="Mot de passe *" name="password" value="" />
                            </div>
                         <div class="text-center"  >
                        <input type="submit" class="btnconn"  value="connect"/>
               
                         </div>
                         <hr class="solid">
                         <div class="text-center pb-5" >
                        <p style="color: #903749">Vous n'avez pas de compte ?</p>
                        <a href="/users/new" style="color: #53354A; font-weight: 600;">Inscrivez-vous ici </a>
                         </div>
                     
                        </div>    
                        
                        
                </div> 
           
        </div>
    </div>

</div></form>
</div>