<div class="container-fluid" style="background-image: url(../../images/bookbackground.png);">
     <div class="container register mt-55 py-5">
                      <div class="row">
                          <div class="col-md-3 register-left">
                              <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                              <h3>Bienvenue</h3>
                              <p>si vous possedez deja un compte veillez vous connecter</p>
                              <div class="text-center"  >
                                  <a class="btn btnconn2" style="color: #fff;"  href="/users/login" role="button">Se connecter</a>
              
                                   </div>
                          </div>
                          <div class="col-md-9 register-right">
          
                              <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                      <h3 class="register-heading">Créé votre compte pour enchérir</h3>
                                      <form action="/users" method="POST">
                                      <div class="row register-form">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <input type="text" class="form-control" placeholder="Nom *" name="name" value="" />
                                              </div>
                                              <div class="form-group">
                                                  <input type="text" class="form-control" placeholder="Prenom*" name="surname" value="" />
                                              </div>
                                              
                                              <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email *" name="mail" value="" />
                                            </div>
                                              
                                          </div>
                                          <div class="col-md-6">
                                             
                                              <div class="form-group">
                                                  <input type="password" class="form-control" placeholder="Mot de passe *" name="psw" id="psw" value="" onkeyup='check();' />
                                              </div>
                                              <div class="form-group">
                                                  <input type="password" class="form-control"  placeholder="Confirmer mot de passe *" name="psww" id="psww" value="" onkeyup='check();' />
                                                  <span id="message"></span>
                                              </div>
                                              
                                              <input type="submit" class="btnRegister"  value="Inscription"/>
                                          </div>
                                  </div>
                                </form>
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
              
                  </div>				                            
                   </div>

 